/**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body{
    background-color: #8A51FC
}

.logo{
    Width: 300px;
    display: block;
    margin: 20px auto;
}

main{
    width: 375px;
    background: #F4F4F4;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px;
}
 h1{
 text-align: center;
 }

.manutencao{
    Width: 300px;
    display: block;
    margin: 20px auto;
}